.Movie {
  position: relative;
  display: block;
  height: inherit;
  font-weight: 600;
  font-size: 0.9em;
  border-radius: 12px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
  background: rgba(69,69,69,0.2);
}

.Movie::before {
  position: absolute;
  content: "";
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, #444);
  opacity: .7;
}

.Movie::after {
  position: absolute;
  content: "";
  bottom: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(to top, rgba(0,0,0,0) 0, #444);
  opacity: .7;
}

.Movie .Poster {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.Movie .Rating {
  position: absolute;
  display: flex;
  align-items: center;
  top: 17px;
  left: 17px;
  z-index: 1;
}

.Movie .Rating img.RT, img.TMDb {
  width: 13%;
  height: 13%;
}

.Movie .Rating img.IMDb {
  width: 19%;
  height: 19%;
}

.Movie .Rating img.Meta {
  width: 15%;
  height: 15%;
}

.Movie .Rating span {
  padding: 0 8px 2px 8px;
  box-sizing: border-box;
}

.Movie .Rating span.IMDb {
  color: #fdd449;
}

.Movie .Rating span.TMDb {
  color: #01d277;
}

.Movie .Rating span.RT, span.Meta {
  color: #fff;
}

.Movie .Rating span.Meta {
  color: #fff;
}

.Movie .Rating span.Meta.Positive,
.Movie .Rating span.Meta.Mixed,
.Movie .Rating span.Meta.Negative {
  margin-left: 0.5em;
  padding: 0 4px 2px 4px;
}

.Movie .Rating span.Meta.Positive {
  background-color: #6c3;
}

.Movie .Rating span.Meta.Mixed {
  background-color: #fc3;
}

.Movie .Rating span.Meta.Negative {
  background-color: #f00;
}

.Movie .Year {
  position: absolute;
  top: 17px;
  right: 17px;
  color: #fff;
  z-index: 1;
  opacity: .8;
}

.Movie .Title {
  position: absolute;
  width: 100%;
  padding: 0 17px;
  box-sizing: border-box;
  bottom: 17px;
  font-size: 1em;
  text-align: center;
  white-space: pre-line;
  color: #fff;
}

.Movie .AddTo {
  position: absolute;
  opacity: 0;
  transition: opacity 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

.Movie:hover .AddTo {
  opacity: 1;
}

.Movie .AddTo .Circle::after {
  display: block;
  opacity: 0;
  content: attr(data-tooltip);
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 10em;
  padding: .3em 0;
  pointer-events: none;
  font-weight: 400;
  font-size: 1em;
  left: 50%;
  bottom: 140%;
  background: #222;
  border-radius: 8px;
  transform: translate(-50%, 5px);
  transition: all .15s ease-in-out;
  z-index: 300;
} 

.Movie .AddTo .Circle:hover::after {
  transform: translate(-50%, 0);
  opacity: 1;
} 

.Movie .AddTo .Circle {
  position: relative;
  background-color: rgba(32, 32, 32, 0.6);
  box-shadow: 0 0 0 2px rgba(34, 34, 34, 0.4);
  display: inline-block;
  transition: background 0.2s ease;
  width: 2.1em;
  line-height: 2.1em;
  margin: .25em 0;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
}

.Movie .AddTo .Circle .Icon {
  line-height: inherit;
}

.Movie .AddTo .Circle:hover {
  background-color: rgba(32, 32, 32, 1);
}