.NavigationTab {
  font-size: 1.05em;
}

.NavigationTab span {
  display: block;
  padding: 10px 15px;
  margin-right: 20px; 
  border-radius: 10px;
  color: #a1a1a1;
  transition: color 0.2s ease;
  box-sizing: border-box;
}

.NavigationTab span:hover {
  cursor: pointer;
  color: #404040;
}

.NavigationTab span.active {
  background-color: #e5e5e5;
  color: black;
  font-weight: 600;
}  